.app{

  font-family:Arial, sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to right, #74ebd7,#acb6e5);

}